/* Coolors Exported Palette - coolors.co/353535-3c6e71-ffffff-d9d9d9-284b63 */

/* HSL */
$color1: hsla(0%, 0%, 21%, 1);
$color2: hsla(183%, 31%, 34%, 1);
$color3: hsla(0%, 0%, 100%, 1);
$color4: hsla(0%, 0%, 85%, 1);
$color5: hsla(204%, 42%, 27%, 1);

/* RGB */
$color1: rgba(53, 53, 53, 1);
$color2: rgba(60, 110, 113, 1);
$color3: rgba(255, 255, 255, 1);
$color4: rgba(180, 180, 180, 1);
$color5: rgba(40, 75, 99, 1);
$color6: rgba(40, 40, 40, 1);
$color7: #fd90a0;
